/* Fonts */

@font-face {
	font-family: "Apfel";
	src: url("fonts/ApfelGrotezk-Regular.woff") format("woff"),
	     url("fonts/ApfelGrotezk-Regular.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "Apfel";
	src: url("fonts/ApfelGrotezk-Fett.woff") format("woff"),
	     url("fonts/ApfelGrotezk-Fett.woff2") format("woff2");
	font-weight: bold;
}
@font-face {
	font-family: "ApfelBrukt";
	src: url("fonts/ApfelGrotezk-Brukt.woff") format("woff"),
	     url("fonts/ApfelGrotezk-Brukt.woff2") format("woff2");
	font-weight: normal;
}

/* Base styles */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Apfel', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}

/* Header */

.home-title {
	text-align: center;
	margin: 0;
	padding: 20px;
	min-height: 50vh;
	background-color: #ffda00;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-title h1 {
	font-size: 10rem;
	font-weight: normal;
	letter-spacing: -.07em;
	animation-name: home-title-wiggle;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	font-family: 'ApfelBrukt', sans-serif;
}
@keyframes home-title-wiggle{
	from {
		transform: rotate(-10deg);
	}
	to {
		transform: rotate(10deg);
	}
}

/* Grid */

.home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	width: 100vw;
	padding: 20px;
	background-color: #f3f4f5;
	grid-gap: 20px;
	min-height: 50vh;
}
.home-grid-object {
	border-radius: 20px;
	padding: 20px;
	background-color: white;
	min-height: 50vh;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.home-grid-title {
	font-size: 5rem;
	grid-column: 1;
	letter-spacing: -.07em;
}
.home-grid-link {
	border: 10px solid #1449f2;
	transition: .2s;
}
.home-grid-link-title1 {
	color: #1449f2;
	transition: .2s;
}
.home-grid-link-title2 {
	transition: .4s;
}
.home-grid-link:hover {
	border: 20px solid #f61d5d;
}
.home-grid-link:hover .home-grid-link-title1{
	color: #f61d5d;
	transform: scale(0.8);
}
.home-grid-link:hover .home-grid-link-title2{
	transform: scale(1.2);
}
.home-grid-link:active {
	border: 30px solid #22f494;
}
.home-grid-link:active .home-grid-link-title1{
	color: #22f494;
	transform: scale(0.6);
}
.home-grid-link:active .home-grid-link-title2{
	transform: scale(1.4);
}

/* Responsive styles */

@media screen and (max-width: 1000px) { 
	body {
		font-size: 2rem;
	}
	.home-title {
		min-height: 80vh;
	}
	.home-title h1 {
		font-size: 7rem;
		line-height: 7rem;
	}
	.home-grid {
		grid-template-columns: 1fr;
	}
	.home-grid-object {
		min-height: 50vh;
	}
	.home-grid-title {
		font-size: 5rem;
	}
} 