/* Base Styles */

@font-face {
	font-family: "Authentic";
	src: url("../assets/fonts/AUTHENTICSans-60.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Authentic";
	src: url("../assets/fonts/AUTHENTICSans-150.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
:root {
  --white: #dde5ed;
  --black: #101820;
  --green: #0f9e71;
  --yellow: #ffb600;
  --blue: #1c6fd4;
  --red: #e62838;
}
* {
  font-family: "Authentic", sans-serif;
	box-sizing:border-box;
}
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--black);
  transition: background-color 1s;
  font-size: 64px;
  letter-spacing: -1px;
}
a {
	color: var(--white);
}
a:hover {
	text-decoration: none;
}

/* Scrollbar */

/* Width */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

/* Clock and UI */

.return {
	position: fixed;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 40px;
	line-height: 0;
  fill: var(--black);
  transition: .2s;
}
.return:hover {
  fill: white;
}
.location {
	position: fixed;
	top: 52px;
	left: 100px;
	font-size: 18px;
	color: var(--black);
	margin: 0;
	padding: 0;
	pointer-events: none;
}
.ui {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: -1;
	border: 20px solid white;
}
.clock {
	width: 40vmax;
	height: 40vmax;
	border-radius: 50%;
	position: relative;
	background-color: var(--black);
	border: 20px solid var(--black);
}
.clock::before,
.clock::after,
.clock .marking{
  content: '';
  position: absolute;
  width: 1;
  height: 100%;
  background: var(--white);
  z-index: 0;
  left: 50%;
}
.marking {
  background: var(--white);
  width: 1px;
}
.marking.marking-two {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.marking.marking-three {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
.marking.marking-four {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.marking.marking-five {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
}
.marking.marking-six {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}
.clock-middle {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: var(--black);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}
.hand {
	width: 50%;
	right: 50%;
	height: 1px;
	background: var(--white);
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hour-hand {
	width: 20%;
	z-index: 3;
}
.hand.min-hand {
	z-index: 10;
	width: 35%;
}
.hand.second-hand {
	width: 45%;
	background-color: var(--white);
}

/* Start screen */

.start {
	width: 100vw;
	height: 100vh;
	font-size: 48px;
	line-height: 48px;
	padding: 20px;
	border: 20px solid var(--white);
	color: var(--white);
	background-color: var(--black);
	position: fixed;
	z-index: 999;
	cursor: pointer;
	transition: color .2s, background-color .2s, border .2s;
}
.start-sub {
	font-size: .5em;
	line-height: 1em;
	border: 1px solid var(--white);
	padding: 40px 40px 40px 40px;
	border-radius: 50px;
	display: inline-block;
}
.start:hover {
	border: 40px solid var(--black);
	color: var(--black);
	background-color: var(--white);
}
.start:hover .start-sub {
	border: 1px solid var(--black);
}
.hide {
	display: none !important;
}

/* Spaces (i.e. links) */

.spaces {
	width: 4300px;
	height: 4300px;
	padding: 200px;
	display: grid;
	grid-template-columns: repeat(10, 300px);
	grid-template-rows: repeat(10, 300px);
	grid-gap: 100px;
}
.space {
	border: 1px solid white;
	width: 300px;
	height: 300px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background-color .2s, border .2s, color .2s;
	animation: space 20s linear infinite;
	text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
  color: white;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-image: url("background1.svg");
}
.space h2 {
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 20px;
}
.space:hover {
	background-color: white;
	color: var(--black);
	z-index: 100;
}
.space:hover h2 {
	animation: hoverScale .5s alternate infinite;
}
.space:active {
	background-color: var(--black);
	color: white;
}
@keyframes space {
	from {-webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);}
	to   {-webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);}
}
@keyframes hoverScale {
	from {transform: scale(.5);}
	to {transform: scale(1.5);}
}

/* Responsive styles */
@media screen and (max-width: 1000px) {
	body {
	  font-size: 24px;
	}
	.start {
		font-size: 32px !important;
		line-height: 32px !important;
	}
}