/* Fonts */

@font-face{
	font-family: "NeueBit";
	src: url("fonts/NeueBit-Regular.otf") format("opentype"),
		 url("fonts/NeueBit-Regular.woff") format("woff"),
		 url("fonts/NeueBit-Regular.woff2") format("woff2");
  font-weight: normal;
}

/* Base Styles */

body {
	background-color: #f4f0f0;
	color: #323232;
	margin: 0;
}
h1 {
	font-family: NeueBit;
	font-size: 12rem;
	line-height: 8rem;
	margin: 0 0 1rem 0;
}
h2 {
	font-family: NeueBit;
	font-size: 3rem;
	line-height: 3rem;
	margin: 0 0 1rem 0;
}
h3 {
	font-family: Basis;
	font-size: 2rem;
	line-height: 2.5rem;
	margin: 0;
}
p {
	font-family: Basis;
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0;
}