/* Base Styles */

@font-face {
	font-family: "Authentic";
	src: url("fonts/AUTHENTICSans-60.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Authentic";
	src: url("fonts/AUTHENTICSans-150.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Authentic Condensed";
	src: url("fonts/AUTHENTICSans-Condensed-60.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Authentic Condensed";
	src: url("fonts/AUTHENTICSans-Condensed-150.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing:border-box;
}
body {
		width: 100vw;
		height: 100vh;
    font-family: "Authentic", sans-serif;
    padding: 0;
    margin: 0;
    color: #dde5ed;
    background-color: #101820;
    transition: background-color 1s;
}
h2 {
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 20px;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #101820;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dde5ed;
}

/* Start screen */
.start {
  font-family: "Authentic", sans-serif;
	width: 100vw;
	height: 100vh;
	font-size: 48px;
	line-height: 48px;
	border: 20px solid #dde5ed;
	color: #1c6fd4;
	background-color: #101820;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	transition: .2s;
}
.start-sub {
	font-size: .5em;
	border: 1px solid #1c6fd4;
	padding: 20px 40px 20px 40px;
	border-radius: 50px;
	display: inline-block;
}
.start:hover {
	border: 40px solid #1c6fd4;
	color: #dde5ed;
}
.start:hover .start-sub {
	border: 1px solid #dde5ed;
}
.hide {
	display: none !important;
}
.initialize {
	background-color: #1c6fd4 !important;
}

/* Clock and UI */
.return {
	position: fixed;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 40px;
  fill: #101820;
  transition: .2s;
}
.return:hover {
  fill: #dde5ed;
}
.location {
	position: fixed;
	top: 52px;
	left: 100px;
	font-size: 18px;
	color: #101820;
	margin: 0;
	padding: 0;
	pointer-events: none;
}
.ui {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: -1;
	border: 20px solid white;
}
.clock {
	width: 40vmax;
	height: 40vmax;
	border-radius: 50%;
	position: relative;
	background-color: #101820;
	border: 20px solid #101820;
}
.clock::before,
.clock::after,
.clock .marking{
  content: '';
  position: absolute;
  width: 1;
  height: 100%;
  background: #1c6fd4;
  z-index: 0;
  left: 50%;
}
.marking {
  background: gray;
  width: 1px;
}
.marking.marking-one {
}
.marking.marking-two {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
  display: none;
}
.marking.marking-three {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
  display: none;
}
.marking.marking-four {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.marking.marking-five {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
  display: none;
}
.marking.marking-six {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
  display: none;
}
.clock-middle {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #101820;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}
.hand {
	width: 50%;
	right: 50%;
	height: 1px;
	background: #dde5ed;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hour-hand {
	width: 20%;
	z-index: 3;
}
.hand.min-hand {
	z-index: 10;
	width: 35%;
}
.hand.second-hand {
	width: 45%;
	background-color: #1c6fd4;
}

/* Spaces (i.e. links) */
.spaces {
	width: 4300px;
	height: 4300px;
	padding: 200px;
	display: grid;
	grid-template-columns: repeat(10, 300px);
	grid-template-rows: repeat(10, 300px);
	grid-gap: 100px;
}
.space {
	border: 1px solid #dde5ed;
	width: 300px;
	height: 300px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: .2s;
	animation: space 20s linear infinite;
	text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
  color: #dde5ed;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}
.background1 {
  background-image: url("../assets/background1.svg");
}
.background2 {
  background-image: url("../assets/background2.svg");
}
.space:hover {
	background-color: #dde5ed;
	color: #101820;
	z-index: 100;
}
.space:hover h2 {
	animation: hoverScale .5s alternate infinite;
}
.space:active {
	background-color: #101820;
	color: #dde5ed;
}
@keyframes space {
	from {-webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);}
	to   {-webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);}
}
@keyframes hoverScale {
	from {transform: scale(.5);}
	to {transform: scale(1.5);}
}

/* Responsive Styles */

@media screen and (max-width: 1000px) {
}