html {
  scroll-behavior: smooth;
}

/* Fonts */

@font-face{
	font-family: "NeueBit";
	src: url("fonts/NeueBit-Regular.otf") format("opentype"),
		 url("fonts/NeueBit-Regular.woff") format("woff"),
		 url("fonts/NeueBit-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face{
	font-family: "NeueBit";
	src: url("fonts/NeueBit-Bold.otf") format("opentype"),
		 url("fonts/NeueBit-Bold.woff") format("woff"),
		 url("fonts/NeueBit-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face{
	font-family: "Basis";
	src: url("fonts/BasisGrotesquePro-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face{
	font-family: "Basis";
	src: url("fonts/BasisGrotesquePro-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face{
	font-family: "Basis";
	src: url("fonts/BasisGrotesquePro-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face{
	font-family: "Basis";
	src: url("fonts/BasisGrotesquePro-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Base Styles */

body {
	background-color: rgb(240,240,240);
	margin: 0;
}
h1 {
	font-family: NeueBit;
	font-size: 12rem;
	line-height: 8rem;
	margin: 0 0 1rem 0;
}
h2 {
	font-family: NeueBit;
	font-size: 3rem;
	line-height: 3rem;
	margin: 0 0 1rem 0;
}
h3 {
	font-family: NeueBit;
	font-size: 2rem;
	line-height: 2.5rem;
	margin: 0;
}
h4 {
	font-family: NeueBit;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0;
}
p {
	font-family: Basis;
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0;
	color: rgb(50,50,50);
}
a{
	text-decoration: none;
}

/* Header */

.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: calc(100vw - 40);
	height: calc(100vh - 40);
	background-color: white;
	color: #323232;
	border-radius: 20px;
	margin: 20px 20px 80px 20px;
	padding: 20px;
}
.header-title {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	padding: 40px;
}
.header-title h1 {
	padding: 0;
	margin: 0;
	color: rgb(25,25,25);
}
.header-title h2 {
	padding: 0;
	margin: 0;
	max-width: 600px;
	color: rgb(50,50,50);
}
.sketch-holder {
	display: flex;
	position: relative;
	align-items: center;
	align-content: center;
}
.sketch-holder img {
	width: 100%;
	max-width: 800px;
	position: absolute;
	padding: 40px;
	box-sizing: border-box;
}

/* Key terms */

.keyterm {
	font-family: NeueBit;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8rem;
  padding-top: 4px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid rgb(25,25,25);
  cursor: pointer;
  line-height: 1.5rem;
}
.keyterm:hover {
  animation-name: keyterm-glow;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes keyterm-glow {
  from {
    color: rgb(25, 25, 25);
  }
  to {
    color: rgb(150,150,150);
  }
}
.keyterm .keytermdef {
  visibility: hidden;
  width: 200px;
  background-color: rgb(25,25,25);
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 20px 20px 18px 20px;
  font-size: 1.4rem;
  line-height: 1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
  animation-name: keyterm-float;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.keyterm:hover .keytermdef {
  visibility: visible;
  cursor: pointer;
}
@keyframes keyterm-float {
	from {
    bottom: 100%;
  }
  to {
    bottom: 120%;
  }
}
.keyterm .keytermdef::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(50,50,50) transparent transparent transparent;
}

/* References */

.reference {
	font-weight: bold;
	font-size: .8rem;
	color: white;
	background-color: rgb(50,50,50);
	border-radius: 2rem;
	text-align: center;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.6rem;
	vertical-align: super;
	transition: .2s;
}
.reference:hover {
	text-decoration: none;
	background-color: white;
	color: rgb(50,50,50);
}
.reference:active {
	opacity: .5;
}
.reftxt {
	font-family: Basis;
	font-size: 1rem;
	margin-bottom: -15px;
}
.reftxt-item {
	display: grid;
	background-color: white;
	color: rgb(50,50,50);
	padding: 20px;
	border-radius: 20px;
	grid-template-columns: .1fr 1fr;
	grid-gap: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
	transition: .2s;
}
.reftxt-item:hover {
	background-color: rgb(50,50,50);
	color: white;
}
.reftxt-item:active {
	opacity: .5;
}

/* Body styles */

.bodycontainer {
	padding: 0px 20px 0px 20px;
}
.bodysection {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 60px 0 60px 0;
}
.bodycontent {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 40px;
	max-width: 1000px;
	width: 100%;
	flex-direction: column;
}
.bodycontent p {
	max-width: 800px;
	grid-column: 1;
	position: relative;
}
.bodyimg {
	background-color: white;
	padding: 10px;
	grid-column: 1;
	display: flex;
	justify-content: center;
	border-radius: 20px;
}
.bodyimg img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.imgcap {
	font-family: Basis;
	font-size: 1rem;
	align-self: end;
}
.bodycontainer h3 {
	font-size: 5.5rem;
	line-height: 4rem;
}

/* Section breaks */

.sectionhead-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 60px 20px 60px 20px;
	margin: 60px 0 60px 0;
	text-align: center;
	flex-direction: column;
	box-sizing: border-box;
	background-color: white;
	border-radius: 20px;
}
.sectionhead {
  border-radius: 20px;
  max-width: 1200px;
  width: 100%;
  border: 10px solid rgb(240, 240, 240);
  color: rgb(25,25,25);
  padding: 55px 20px 40px 20px;
  animation-name: heading-ok-container;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: -250ms;
}
.sectionhead h3 {
	font-size: 18rem;
	line-height: 12rem;
  animation-name: heading-ok;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes heading-ok-container {
	from {
		transform: scale(.3);
		border: 10px solid rgb(240, 240, 240);
	}
	to {
		transform: scale(.5);
		border: 10px solid rgb(200, 200, 200);
	}
}
@keyframes heading-ok {
	from {
		transform: scale(.6);
		color: rgb(100,100,100);
	}
	to {
		transform: scale(2);
		color: rgb(25,25,25);
	}
}

/* Key term and reference index */
.index {
	width: 100%;
	max-width: 1000px;
	margin: 20px;
}
.index-title {
	width: 100%;
	background-color: white;
	text-align: center;
	border-radius: 20px;
	padding: 25px 20px 20px 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 4rem;
	letter-spacing: 2px;
	line-height: 4rem;
}
.index-title h3 {
  animation-name: index-title;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;	
}
@keyframes index-title {
	from {
		transform: scale(.8);
	}
	to {
		transform: scale(1.4);
	}
}
.index-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.index-keyterms a{
	border-radius: 20px;
	border: 2px solid rgb(50,50,50);
	padding: 20px;
	transition: .2s;
	color: rgb(50,50,50);
	font-family: Basis;
}
.index-keyterms a:hover {
	background-color: white;
	color: rgb(50,50,50);
	border: 2px solid white;
}
.index-keyterms a:active {
	background-color: rgb(50,50,50);
	color: white;
	border: 2px solid rgb(50,50,50);
}
.index-keyterm-title {
	font-family: NeueBit;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8rem;
  padding-top: 4px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5rem;
  margin-bottom: 10px;
}
.index-keyterm-info {
	font-size: 1rem;
	line-height: 2rem;
	margin: 0;
	line-height: 1rem;
}

/* Footer */

.footer {
	width: 100%;
	background-color: rgb(25,25,25);
	padding: 60px 20px 60px 20px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	text-align: right;
	margin-top: 60px;
}
.footer p {
	font-family: NeueBit;
	width: 100%;
	text-transform: uppercase;
	color: white;
	font-size: 1.8rem;
	max-width: 1000px;
	line-height: 1.4rem;
	padding: 0;
	margin: 0;
}
.return {
	background-color: white;
	color: rgb(25,25,25);
	border-radius: 20px;
	padding: 20px 20px 18px 20px;
	transition: .2s;
	border: 2px solid white;
}
.return:hover {
	background-color: rgb(25,25,25);
	color: white;
}
.return:active {
	opacity: .5;
}

/* Responsive styles */

@media screen and (max-width: 800px) { 
	.header {
		grid-template-columns: 1fr;
		padding: 10px;
		margin: 10px;
	}
	.header-title {
		padding: 20px 10px 20px 10px;
	}
	.header h1 {
		font-size: 4rem;
		line-height: 4rem;
	}
	.header h2 {
		font-size: 2rem;
		line-height: 2rem;
	}
	.keyterm {
		font-size: 1.3rem;
	  padding-top: 4px;
	  line-height: 1.2rem;
	}
	.bodysection {
		padding: 20px 0 20px 0;
	}
  .bodycontent {
		grid-template-columns: 1fr;
		grid-gap: 20px;
  }
  p {
  	font-size: 1.2rem;
  	line-height: 1.8rem;
  }
  .reference {
  	font-size: .7rem;
		width: 1.2rem;
		height: 1.2rem;
		line-height: 1.3rem;
  }
  .sectionhead-container {
		padding: 10px;
		margin: 60px -10px 60px -10px;
		text-align: center;
		flex-direction: column;
		box-sizing: border-box;
		background-color: white;
		border-radius: 20px;
		width: calc(100vw - 20px);
	}
	.sectionhead {
	  padding: 35px 10px 20px 10px;
	}
	.sectionhead h3 {
		font-size: 4rem;
		line-height: 4rem;
	}
	.footer {
		padding: 60px 20px 60px 20px;
	}
	.footer p {
		font-size: 1.3rem;
		max-width: 1000px;
		line-height: 1.2rem;
	}
	.return {
		padding: 10px 20px 8px 20px;
	}
	#keyterms {
		display: none;
	}
} 