/* Base Styles */

@font-face {
	font-family: "Mini Mochi";
	src: url("fonts/MiniMochi.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "STCH" 50, "FLAV" 0;
}
@font-face {
	font-family: "Apfel";
	src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "Apfel";
	src: url("fonts/ApfelGrotezk-Fett.woff2") format("woff2");
	font-weight: bold;
}
@font-face {
	font-family: "ApfelBrukt";
	src: url("fonts/ApfelGrotezk-Brukt.woff2") format("woff2");
	font-weight: normal;
}
:root{
	--STCH: 50;
	--FLAV: 0;
}
body {
	font-family: "Mini Mochi", sans-serif;
	margin: 0;
	padding: 40px;
	box-sizing: content-box;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #fd8d8d;
	color: white;
	font-size: 24px;
	line-height: 1.3em;
}

/* Generic Block */

.block-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-top: 20px;
	font-family: "Apfel", sans-serif;
	color: #fd8d8d;
}
.block {
	border-radius: 100px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	background-color: white;
	font-variation-settings: "STCH" var(--STCH), "FLAV" var(--FLAV);
	transition: font-variation-settings 1s;
    box-shadow: inset 10px 10px 10px rgba(255,255,255,.2), inset -10px -10px 10px rgba(0,0,0,.1);
}
.block p {
	max-width: 500px;
	width: 100%;
}

/* Frame */

.frame {
	width: 100vw;
	height: 100vh;
	box-shadow: inset 10px 10px 10px rgba(255,255,255,.2), inset -10px -10px 10px rgba(0,0,0,.1);
	position: fixed;
	margin: -40px;
	pointer-events: none;
}

/* Header */

.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 10px 40px 10px;
	width: 100%;
	box-sizing: border-box;
	color: white;
}
.header-line {
	font-size: 17vw;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
@keyframes header {
	0% {font-variation-settings: "STCH" 50, "FLAV" 0;}
	12% {font-variation-settings: "STCH" 0, "FLAV" 0;}
	25% {font-variation-settings: "STCH" 100, "FLAV" 0;}
	37% {font-variation-settings: "STCH" 50, "FLAV" 0;}
	50% {font-variation-settings: "STCH" 50, "FLAV" 100;}
	62% {font-variation-settings: "STCH" 0, "FLAV" 100;}
	75% {font-variation-settings: "STCH" 100, "FLAV" 100;}
	87% {font-variation-settings: "STCH" 50, "FLAV" 100;}
	100% {font-variation-settings: "STCH" 50, "FLAV" 0;}
}

/* Overview */

.overview-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.overview-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Mini Mochi", sans-serif;
	font-size: 8vw;
	line-height: 1.2em;
}

/* Alphabet */

.alphabet-container {
	padding: 40px 10px 40px 10px;
	margin-top: 20px;
	border-radius: 100px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-shadow: inset 10px 10px 10px rgba(255,255,255,.2), inset -10px -10px 10px rgba(0,0,0,.1);
}
.alphabet {
	cursor: crosshair;
	text-align: center;
	padding-bottom: 30px;
}
.alphabet-letters {
	line-height: 1em;
	margin: 0;
	padding: 0;
	font-size:13vw;
}
.alphabet-letters span {
	font-variation-settings: "STCH" var(--STCH), "FLAV" 0;
	transition: font-variation-settings .2s, color .2s;
}
.alphabet-letters span:hover {
	font-variation-settings: "STCH" var(--STCH), "FLAV" 100;
	color: #bd5454;
}
.alphabet-mobile {
	display: none;
}

/* Letter */

.letter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 10px 40px 10px;
	margin-top: 20px;
	border-radius: 100px;
	width: 100%;
	box-sizing: border-box;
    box-shadow: inset 10px 10px 10px rgba(255,255,255,.2), inset -10px -10px 10px rgba(0,0,0,.1);
}
.letter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: color .2s;
	padding-bottom: 10px;
}
.letter:hover {
	color: #bd5454;
}
.letter-glyph {
	font-variation-settings: "STCH" var(--STCH), "FLAV" var(--FLAV);
	pointer-events: none;
	font-size:40vw;
	line-height:1em;
}

/* Words */

.words-container {
	grid-column: 1 / span 2;
}
#words {
	grid-column: 1 /  span 2;
	font-family: "Mini Mochi", sans-serif;
	font-size: 4vw;
	line-height: 1.2em;
	text-align: center;
	max-width: 100%;
	width: 100%;
}
#words span {
	font-variation-settings: "STCH" var(--STCH), "FLAV" var(--FLAV);
	transition: font-variation-settings .5s, color .5s;
}

/* Tester */

.tester-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 20px 40px 20px;
	margin-top: 20px;
	border-radius: 100px;
	width: 100%;
	box-sizing: border-box;
    box-shadow: inset 10px 10px 10px rgba(255,255,255,.2), inset -10px -10px 10px rgba(0,0,0,.1);
}
.tester {
	font-variation-settings: "STCH" var(--STCH), "FLAV" var(--FLAV);
	width: 100%;
	margin-bottom: 30px;
	font-size: 10vw;
	line-height: 1.2em;
	text-align: center;
}

/* Download Button */

.download {
	grid-column: span 2;
	text-decoration: none;
	color: white;
	background-color: #fd8d8d;
	border: 2px solid white;
	font-size: 48px;
	line-height: 48px;
	padding: 40px 20px 40px 20px;
	transition: background-color .2s, color .2s, opacity .2s;
	opacity: .5s;
}

.download:hover {
    color: #fd8d8d;
    background-color: white;
}

.download:active {
    opacity: .5;
}

/* Footer */

footer {
	font-family: "Apfel", sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 40px;
}
footer p {
	max-width: 500px;
	width: 100%;
}
footer a {
	color: white;
	transition: opacity .2s;
}
footer a:hover {
	opacity: .8;
}
footer a:active {
	opacity: .5;
}

/* Sliders */

.slider-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	box-sizing: border-box;
	padding: 0 20px 0 20px;
}
.slider {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	margin: 0 20px 0 20px;
	-webkit-appearance: none;
	width: 100%;
	height: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(255,255,255,.2), inset -2px -2px 2px rgba(0,0,0,.1);
}
.slider:hover {
    box-shadow: inset 5px 5px 5px rgba(255,255,255,.2), inset -5px -5px 5px rgba(0,0,0,.1);
	cursor: pointer;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: rbga(0,0,0,0);
	border: 2px solid white;
	transition: .2s;
}
.slider::-webkit-slider-thumb:hover {
	background: white;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: rbga(0,0,0,0);
	border: 2px solid white;
	cursor: pointer;
	transition: .2s;
}
.slider::-moz-range-thumb:hover {
	background: white;
}

/* Responsive Styles */

@media screen and (max-width: 1000px) {
	body {
		font-size: 18px;
		line-height: 1.4em;
		padding: 20px;
	}
	.frame {
		margin: -20px;
	}
	.block-container {
		grid-template-columns: 1fr;
	}
	.block {
		border-radius: 50px;
	}
	.overview-line {
		font-size: 15vw;
	}
	.alphabet-container {
		border-radius: 50px;
	}
	.alphabet-letters {
		font-size: 20vw;
	}
	.alphabet-desktop {
		display: none;
	}
	.alphabet-mobile {
		display: block;
	}
	.letter-container {
		border-radius: 50px;
	}
	#words{
		font-size: 5vw;
	}
	.letter-glyph {
		font-size: 60vw;
	}
	.tester-container {
		border-radius: 50px;
	}
	.download {
		font-size: 24px;
		line-height: 1em;
	}
	footer {
		padding-top: 20px;
	}
	.slider {
		width: 100%;
		height: 40px;
		padding: 5px 10px 5px 10px;
	}
	.slider::-webkit-slider-thumb {
		width: 10px;
		height: 30px;
	}
	.slider::-moz-range-thumb {
		width: 10px;
		height: 30px;
	}
}