@font-face {
	font-family: "Extra Firm Tofu";
	src: url("fonts/ExtraFirmTofuVF.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-variation-settings: 'FUNK' 0, 'PRSS' 50;
}

:root{
	--FUNK: 0;
	--PRSS: 50;
}

body {
	font-family: "Extra Firm Tofu", sans-serif;
	margin: 0;
	padding: 20px;
	box-sizing: content-box;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #ffdadc;
	color: white;
}

.header {
	text-align: center;
	animation: header ease-in-out 5s infinite alternate;
}
.header-line {
	line-height: 1em;
	margin: 0;
	padding: 0;
}

.alphabet-container {
	padding: 40px 10px 40px 10px;
	margin-top: 10px;
	border-radius: 100px;
	width: 100%;
	background-color: #ffbdbf;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.alphabet {
	cursor: crosshair;
	text-align: center;
	padding-bottom: 30px;
}
.alphabet-line {
	line-height: 1em;
	margin: 0;
	padding: 0;
	font-size:13vw;
}
.alphabet-line span {
	font-variation-settings: "FUNK" 0, "PRSS" var(--PRSS);
	transition: font-variation-settings .2s, color .2s;
}
.alphabet-line span:hover {
	font-variation-settings: "FUNK" 100, "PRSS" var(--PRSS);
	color: #402f30;
}

.letter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 10px 40px 10px;
	margin-top: 10px;
	border-radius: 100px;
	width: 100%;
	background-color: #b6bde5;
	box-sizing: border-box;
}
.letter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: color .2s;
	padding-bottom: 10px;
}
.letter:hover {
	color: #402f30;
}
.letter-glyph {
	font-variation-settings: "FUNK" var(--FUNK), "PRSS" var(--PRSS);
	pointer-events: none;
}
.slider {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	-webkit-appearance: none;
	width: 100%;
	height: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 10px;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: rbga(0,0,0,0);
	border: 2px solid white;
	cursor: pointer;
	transition: .2s;
}
.slider::-webkit-slider-thumb:hover {
	background: white;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: rbga(0,0,0,0);
	border: 2px solid white;
	cursor: pointer;
	transition: .2s;
}
.slider::-moz-range-thumb:hover {
	background: white;
}

@keyframes header {
	0% {font-variation-settings: "FUNK" 0, "PRSS" 50;}
	20% {font-variation-settings: "FUNK" 0, "PRSS" 100;}
	40% {font-variation-settings: "FUNK" 0, "PRSS" 0;}
	60% {font-variation-settings: "FUNK" 100, "PRSS" 100;}
	80% {font-variation-settings: "FUNK" 100, "PRSS" 0;}
	100% {font-variation-settings: "FUNK" 0, "PRSS" 50;}
}

@media screen and (max-width: 1000px) {
	.alphabet-container {
		border-radius: 50px;
	}
	.alphabet-line {
		font-size:10vw;
	}
	.letter-container {
		border-radius: 50px;
	}
	.slider {
		max-width: 300px;
		height: 10px;
	}
	.slider::-webkit-slider-thumb {
		width: 15px;
		height: 15px;
	}
	.slider::-moz-range-thumb {
		width: 15px;
		height: 15px;
	}
}