/* Base Styles */

@font-face {
	font-family: "Extra Firm Tofu";
	src: url("fonts/ExtraFirmTofuVF.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-variation-settings: 'FUNK' 0, 'PRSS' 50;
}
@font-face {
	font-family: "Apfel";
	src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "Apfel";
	src: url("fonts/ApfelGrotezk-Fett.woff2") format("woff2");
	font-weight: bold;
}
@font-face {
	font-family: "ApfelBrukt";
	src: url("fonts/ApfelGrotezk-Brukt.woff2") format("woff2");
	font-weight: normal;
}
:root{
	--FUNK: 0;
	--PRSS: 50;
}
body {
	font-family: "Extra Firm Tofu", sans-serif;
	margin: 0;
	padding: 20px;
	box-sizing: content-box;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #ffdadb;
	color: white;
}

/* Header */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: header ease-in-out 5s infinite alternate;
	color: white;
	text-shadow: 2px 2px #f3f4f5, 4px 4px #d3d4d5;
}
.header-line {
	line-height: 1em;
	margin: 0;
	padding: 0;
}
@keyframes header {
	0% {font-variation-settings: "FUNK" 0, "PRSS" 50;}
	20% {font-variation-settings: "FUNK" 0, "PRSS" 100;}
	40% {font-variation-settings: "FUNK" 0, "PRSS" 0;}
	60% {font-variation-settings: "FUNK" 100, "PRSS" 100;}
	80% {font-variation-settings: "FUNK" 100, "PRSS" 0;}
	100% {font-variation-settings: "FUNK" 0, "PRSS" 50;}
}

/* Alphabet */

.alphabet-container {
	padding: 40px 10px 40px 10px;
	margin-top: 20px;
	border-radius: 100px;
	width: 100%;
	background-color: #ffbdbf;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 8px 8px white;
}
.alphabet {
	cursor: crosshair;
	text-align: center;
	padding-bottom: 30px;
}
.alphabet-letters {
	line-height: 1em;
	margin: 0;
	padding: 0;
	font-size:13vw;
}
.alphabet-letters span {
	font-variation-settings: "FUNK" 0, "PRSS" var(--PRSS);
	transition: font-variation-settings .2s, color .2s;
}
.alphabet-letters span:hover {
	font-variation-settings: "FUNK" 100, "PRSS" var(--PRSS);
	color: #805f60;
}
.alphabet-mobile {
	display: none;
}

/* Letter */

.letter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 10px 40px 10px;
	margin-top: 20px;
	border-radius: 100px;
	width: 100%;
	background-color: #b6bde5;
	box-sizing: border-box;
	box-shadow: 8px 8px white;
}
.letter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: color .2s;
	padding-bottom: 10px;
}
.letter:hover {
	color: #5b5f73;
}
.letter-glyph {
	font-variation-settings: "FUNK" var(--FUNK), "PRSS" var(--PRSS);
	pointer-events: none;
	font-size:40vw;
	line-height:1em;
}

/* Words */

.words-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-top: 20px;
}
.words {
	border-radius: 100px;
	color: #ffdadc;
	padding: 20px;
	font-size: 5vw;
	text-align: center;
	font-variation-settings: "FUNK" var(--FUNK), "PRSS" var(--PRSS);
	transition: font-variation-settings 1s;
	box-shadow: 8px 8px white;
}

/* Sliders */

.slider {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	-webkit-appearance: none;
	width: 100%;
	height: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 10px;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: rbga(0,0,0,0);
	border: 2px solid white;
	cursor: pointer;
	transition: .2s;
}
.slider::-webkit-slider-thumb:hover {
	background: white;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: rbga(0,0,0,0);
	border: 2px solid white;
	cursor: pointer;
	transition: .2s;
}
.slider::-moz-range-thumb:hover {
	background: white;
}
.slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: .5;
	transition: opacity .2s;
}
.slider-container:hover {
	opacity: 1;
}
.slider-title {
	font-family: "Apfel", sans-serif;
	padding: 0;
	margin: 0;
	font-size: 24px;
}

/* Responsive Styles */

@media screen and (max-width: 1000px) {
	.alphabet-container {
		border-radius: 50px;
	}
	.alphabet-letters {
		font-size: 14vw;
	}
	.alphabet-desktop {
		display: none;
	}
	.alphabet-mobile {
		display: block;
	}
	.letter-container {
		border-radius: 50px;
	}
	.letter-glyph {
		font-size: 60vw;
	}
	.words-container {
		grid-template-columns: 1fr;
	}
	.words {
		border-radius: 50px;
		font-size: 10vw;
	}
	.slider {
		max-width: 90%;
		width: 100%;
		height: 40px;
		padding: 5px 10px 5px 10px;
	}
	.slider::-webkit-slider-thumb {
		width: 10px;
		height: 30px;
	}
	.slider::-moz-range-thumb {
		width: 10px;
		height: 30px;
	}
}