/* Base Styles */

@font-face {
	font-family: "Authentic";
	src: url("fonts/AUTHENTICSans-60.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Authentic";
	src: url("fonts/AUTHENTICSans-150.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Authentic Condensed";
	src: url("fonts/AUTHENTICSans-Condensed-60.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Authentic Condensed";
	src: url("fonts/AUTHENTICSans-Condensed-150.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing:border-box;
}
body {
		width: 100vw;
		height: 100vh;
    font-family: "Authentic", sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    transition: background-color 1s;
}
h2 {
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 20px;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 21px;
  height: 21px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

/* Start screen */
.start {
  font-family: "Authentic", sans-serif;
	width: 100vw;
	height: 100vh;
	font-size: 48px;
	line-height: 80px;
	border: 20px solid white;
	color: #ffca22;
	background-color: black;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	transition: .2s;
}
.start:hover {
	border: 40px solid white;
	color: white;
}
.hide {
	display: none !important;
}
.initialize {
	background-color: #ffca22 !important;
}

/* Clock and UI */
.ui {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: -1;
	border: 20px solid white;
}
.clock {
	width: calc(50vmax - 80px);
	height: calc(50vmax - 80px);
	border-radius: 50%;
	position: relative;
	padding: 2rem;
	background-color: black;
}
.hand {
	width: 50%;
	right: 50%;
	height: 1px;
	background: white;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hour-hand {
	width: 20%;
	z-index: 3;
}
.hand.min-hand {
	z-index: 10;
	width: 35%;
}
.hand.second-hand {
	width: 45%;
	background-color: #ffca22;
}

.spaces {
	width: 4300px;
	height: 4300px;
	padding: 200px;
	display: grid;
	grid-template-columns: repeat(10, 300px);
	grid-template-rows: repeat(10, 300px);
	grid-gap: 100px;
}
.space {
	border: 20px solid white;
	width: 300px;
	height: 300px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: .2s;
	animation: space 20s linear infinite;
}
.space:hover {
	background-color: white;
	color: black;
	z-index: 100;
}
@keyframes space {
	from { 	-webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

/* Responsive Styles */

@media screen and (max-width: 1000px) {
}